<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="datamanager" value="sql"/>
  </appSettings>
 <connectionStrings>
    <add name="dbConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=G:\USERS\GEETHAJI\DOCUMENTS\VISUAL STUDIO 2012\PROJECTS\PRODUCTWEB\PRODUCTWEB\APP_DATA\CATALOG.MDF;Integrated Security=True"></add>
  </connectionStrings>
</configuration>